<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.berp_and">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BERP_AND"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".code.CodeModifyActivity"
            android:exported="true" />
        <activity
            android:name=".code.CodeDetailActivity"
            android:exported="true" />
        <activity
            android:name=".approval.ApprovalDetailActivity"
            android:exported="true" />
        <activity
            android:name=".approval.TempModifyActivity"
            android:exported="true" />
        <activity
            android:name=".approval.TempDetailActivity"
            android:exported="true" />
        <activity
            android:name=".notice.NoticeDetailActivity"
            android:exported="true" />
        <activity
            android:name=".adminApply.ApplyCheckDetailActivity"
            android:exported="true" />
        <activity
            android:name=".apply.ApplyDetailActivity"
            android:exported="true" />
        <activity
            android:name=".mypage.MyPageActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".emp.EmpDetailActivity"
            android:exported="true" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".salary.BonusActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>